# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.packages
.pub/
/build/
coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android
.gradle
local.properties
/android/app/build/
/android/build/
/android/.gradle/
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
# Ignore local properties file.
/android/local.properties

# iOS
/ios/build/
/ios/Pods/
/ios/Runner.xcworkspace/contents.xcworkspacedata
/ios/Runner.xcworkspace/xcshareddata/
/ios/Runner.xcworkspace/xcuserdata/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/ephemeral/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/flutter_assets/
/ios/ServiceDefinitions.json
.ios/
